      <br>
      <br>
<div align ="center" class="label">
    <h2 ><i> Cab Booking Page</i></h2>
    <form>
        <div for="colFormLabelSm" >
            <label class="col-sm-1 col-form-label">Name</label>
            <input type="text" [(ngModel)]="booking.name" name="name">  
        </div>   
    <div for="colFormLabelSm" >
        <label class="col-sm-1 col-form-label">Pickup Location </label>
        <select class="form-select" [(ngModel)]="booking.pickup_Location" name="pickUpLocation">
            <option value="12 hollow drive">12 hollow drive</option>
            <option value="45 heaven blvd">45 heaven blvd</option>
            <option value="65 st.louis">65 st.louis</option>
          </select>
    </div>
    <div class ="form-group" >
        <label>Drop Location</label>
        <select class="form-select" [(ngModel)]="booking.drop_Location" name="dropLocation" >
            <option value="43 house">43 house</option>
            <option value="65 office">65 office</option>
            <option value="80 temple">80 temple</option>
          </select>
    </div>
    <div class ="form-group" >
        <label>Date</label>
        <input type="date" [(ngModel)]="booking.date" name="date">
    </div>
    <div class ="form-group" >
        <label>Time</label>
        <input type="time" [(ngModel)]="booking.time" name="time">
    </div>
    <div class ="form-group" >
        <label>Cab Type</label>
        <select class="form-select" [(ngModel)]="booking.cab_type" name="cabType" >
            <option value="Luxury">Luxury</option>
            <option value="Business">Business</option>
            <option value="Economic">Economic</option>
          </select>
    </div>
    <input type="submit" value="Book Cab" (click)="bookCab()" style="background-color:coral">
    </form>
    </div>  

   